/* Stile Generale */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: blue;
}

.flex {
    display: flex;
}

.centered {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.large-container {
    margin: 0 auto;
    padding-top: 5rem;
    max-width: 1200px;
    min-width: 1000px;
}

.small-container {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
}

.margin-bottom {
    margin-bottom: 2.5rem;
}

.wrap {
    flex-wrap: wrap;
}

.operation-area,
.client-count,
.partner,
.article-area,
.adv,
.faq {
    margin-bottom: 10rem;
}

.price {
    font-weight: bold;
}

.times {
    color: #969696;
}

.bordeaux {
    color: #60042c;
}

.fa-check {
    color: #0765ff;
}

/* Stile Header */

header {
    position: sticky;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.322);
    min-width: 1000px;
}

nav {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

header img {
    height: 1.5rem;
    margin-right: 2rem;
}

header li {
    padding: 0 1rem;
}

header a {
    color: rgb(58, 58, 58);
    text-decoration: none;
}

/* Stile Main */

/* Stile Jumbo */

.jumbo {
    background-color: #b4d0e7;
    margin-bottom: 5rem;
}


.jumbo p {
    margin-bottom: 3rem;
}

.jumbo i {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.jumbo section.flex.column {
    width: 30%;
}

.jumbo .img-box {
    width: 70%;
    position: relative;
}

.img-box img {
    width: 100%;
    position: absolute;
}

/* Stile article */

.fatturation-info {
    padding-top: 5rem;
}

main h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

main h2 {
    font-size: 2.5rem;
}

.article-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    border: 1px solid #e3e3e4;
    width: calc(33% - 3rem);
    font-size: .8rem;
    margin-bottom: 2rem;
}

main article i {
    color: black;
    margin-right: .5rem;
}

main article span {
    text-align: center;
    padding: .4rem;
    border-bottom: 1px solid #e3e3e4;
}

main article>section {
    padding: 2rem;
}

main article>section>section>* {
    padding-bottom: 1rem;
}

main article>section>section li {
    padding-bottom: 1rem;
    display: flex;
    align-items: first baseline;
}

h3 {
    font-size: 1.4rem;
}

.orizontal {
    width: 100%;
}

.orizontal section {
    justify-content: space-between;
    align-items: flex-start;

}

.orizontal section section {
    width: 60%;
}

.orizontal button {
    width: 20%;
}

.orizontal section section p:nth-child(2) {
    font-weight: bold;
}

article hr {
    color: #e3e3e4;
    border: 1px solid #e3e3e4;
    width: 25%;
}

/* Stile Partner */

.partner {
    justify-content: space-between;
    align-items: flex-start;

}

.partner img {
    width: calc(70% - 3rem);
}

.partner section {
    margin-top: 3rem;
    width: 30%;
}

.partner h3,
.partner p {
    margin-bottom: 1rem;
}

/* Stile Operations */

.operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operations section {
    width: calc(33% - 2rem)
}

/* Companies Area Style */

.companies-area {
    align-items: flex-start;
    min-width: 1000px;
    background-color: #f5f5f5;
}

.companies-area figure {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: blue;
    position: relative;
}

.companies-area img {
    width: 100%;
    padding: 25%;
}

.companies-area div {
    width: 35%;
}

.companies-area div:nth-child(2) {
    width: 30%;
}

.companies-area div.flex.column {
    padding: 3rem;
}

.companies-area div.flex.column img {
    padding: 0;
    padding-bottom: 2rem;
    background-color: transparent;
    width: 60%;
    align-self: start;

}

.companies-area hr {
    width: 20%;
}

#designit {
    background-color: #a2d39b;
    border: 1rem solid #d7f2d5;

}

#asu {
    background-color: #61082b;
}

#uf {
    background-color: #0765ff;
}

#topps {
    background-color: #ff1c1c;
}

#wbr {
    background-color: #d5001f;
}

#hearst {
    background-color: #b4d0e7;
}

#lonely {
    background-color: #0d2481;
}

#clear {
    background-color: #ffd830;
}

/* Stile ADV */

.adv {
    padding: 8rem 0;
    background-color: #b4d0e7;
}

.adv section {
    justify-content: space-between;
    align-items: flex-start;
}

.adv h2 {
    width: 50%;
}

.adv button {
    width: 30%;
}

/* Stile FAQ */

.faq li {
    padding: 2.5rem 0;
    justify-content: space-between;
    border-top: 1px solid #b7b7b7;
    font-weight: bold;
}

.faq li:last-child {
    border-bottom: 1px solid #b7b7b7;
}

/* Stile Footer */

footer {
    background-color: black;
    color: white;
    padding-bottom: 3rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer div {
    justify-content: space-between;
}

footer nav {
    width: calc(20% - 3rem);
    align-items: flex-start;
}

footer h3 {
    margin-bottom: 1.5rem;
}

footer li {
    margin-bottom: 1rem;
    font-weight: 500;
}

footer hr {
    width: 8rem;
    height: 2px;
    color: white;
}

.language p * {
    margin-right: .5rem;
    color: #949c9c;
}


/* Stile Bottoni */

button {
    border: none;
    padding: .4rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
}

.blue {
    background-color: #0765ff;
    padding: .6rem 1.2rem;
    color: white;
}

.white {
    background-color: white;
    padding: .6rem 1.2rem;
    color: black;
    font-size: 1rem;
}

.border {
    border: 1px solid black;
}

.jumbo button {
    width: 14rem;
    padding: .8rem;
    font-size: 1rem;
}

article button {
    width: 100%;
}

button:hover {
    cursor: pointer;
}

input[type="radio"] {
    accent-color: #0765ff;
}