/* Stile Generale */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.centered {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.large-container {
    margin: 0 auto;
    padding-top: 5rem;
    max-width: 1200px;
    min-width: 600px;
}

.small-container {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 600px;
}

.margin-bottom {
    margin-bottom: 2.5rem;
}

.wrap {
    flex-wrap: wrap;
}

.operation-area,
.client-count,
.partner,
.article-area,
.adv,
.faq {
    margin-bottom: 10rem;
}

.bordeaux {
    color: #60042c;
}

/* Stile Header */

header {
    background-color: green;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

header img {
    height: 1.5rem;
}

header li {
    padding: 1rem;
}

/* Stile Main */


.jumbo {
    background-color: aquamarine;
}

.fatturation-info {
    padding-top: 5rem;
}

main h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

main .jumbo section.flex.column {
    width: 40%;
}

.jumbo .img-box {
    width: 60%;
    position: relative;
}

.img-box img {
    width: 100%;
    /* position: absolute; */
}

main h2 {
    font-size: 2.5rem;
}

.article-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partner {
    justify-content: space-between;
    align-items: center;

}

.partner img {
    width: calc(60% - 3rem);
}

.partner section {
    width: 40%;
}

.operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operations section {
    width: calc(33% - 2rem)
}



/* Stile article */

article {
    border: 1px solid black;
    width: calc(33% - 2rem);
    font-size: .8rem;
    margin-bottom: 2rem;
}

main i {
    color: black;
}

main article span {
    text-align: center;
    padding: .4rem;
}

main article>section {
    padding: 2rem;
}

main article>section>section>* {
    padding-bottom: 1rem;
}

main article>section>section li {
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.4rem;
}

.orizontal {
    width: 100%;
}

.orizontal section {
    justify-content: space-between;
    align-items: flex-start;
}

.adv {
    padding: 8rem 0;
    background-color: bisque;
}

.adv section {
    justify-content: space-between;
}

.adv h2 {
    width: 60%;
}

.faq li {
    padding: 2.5rem 0;
    justify-content: space-between;
    border-top: 1px solid #b7b7b7;
    font-weight: bold;
}

.faq li:last-child {
    border-bottom: 1px solid #b7b7b7;
}

/* Stile Footer */

footer {
    background-color: black;
    color: white;
    padding-bottom: 3rem;
}

footer a {
    color: white;
}

footer div {
    justify-content: space-between;
}

footer nav {
    width: calc(20% - 3rem);
    align-items: flex-start;
}

footer h3 {
    margin-bottom: 1.5rem;
}

footer li {
    margin-bottom: 1rem;
    font-weight: 500;
}

footer hr {
    width: 8rem;
    height: 2px;
    color: white;
}

.language p *{
    margin-right: .5rem;
    color: #949c9c;
}

/* Companies Area Style */

.companies-area {
    align-items: flex-start;
    min-width: 1000px;
    background-color: gray;
}

.companies-area figure {
    width: 50%;
    background-color: blue;
}

.companies-area img {
    width: 100%;
    height: 100%;
    padding: 25%;
}

.companies-area div {
    width: 35%;
}

.companies-area div:nth-child(2) {
    width: 30%;
}

.companies-area div.flex.column {
    padding: 3rem;
}

.companies-area div.flex.column img {
    padding: 0;
    padding-bottom: 2rem;
    background-color: transparent;
    width: 60%;
    align-self: start;

}

.companies-area hr {
    width: 20%;
}