* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 1.1rem;
}

/* Stile Generale */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.bg-brown {
    background-color: #1e1919;
}

.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 4.5rem;
}

.smaller-container {
    max-width: 500px;
    margin: 0 auto
}

.small-container {
    margin: 0 auto;
    max-width: 600px;
}

.medium-container {
    margin: 0 auto;
    max-width: 1200px;
}

/* Stile Header */

header figure {
    background-color: #0061fe;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .75rem;
}

header nav {
    padding: 1rem .5rem;

}

header nav ul li {
    margin: 0 1rem;
}

header a {
    color: #1e1919;
}

/* Stile Main */
main {
    color: white;
}

/* Stile Jumbo */

.jumbo {
    padding-top: 4.5rem;
}

video {
    width: 90vw;
}

/* Stile Info */

.info div.medium-container>section {
    width: 20%;

}

.info div.medium-container>section>h3 {
    margin-bottom: 1rem;
}

/* Stile Presentation */

.presentation>span:first-child,
.presentation section>* {
    margin-bottom: .9rem;
}

.presentation video {
    width: 60vw;
}

/* Stile Use Area */

.use-area div>section {
    width: 48%;
    background-color: #2b2929;
}

.use-area div>section>img {
    width: 100%;
    height: 100%;
}

.use-area div>section>section {
    padding: 3rem;
}

.use-area div>section>section>*:not(h3) {
    margin-top: 1.5rem;
}

/* Stile Stats-Area */

.stats-area>div>section {
    width: 18%;
    margin-top: 3rem;
}

.stats-area>div>section>* {
    margin-bottom: 1rem;
}